/* seletor {propriedade: valor;}*/
/*importacao (google fonte)*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
/*css reset*/
body{
    font-family: 'Open Sans', sans-serif;  
    font-size: 1em;/*1 em quivale a 16px*/
}
*{
    margin:0;
    border: 0;
    padding: 0;
}
/* layout*/
.container{
    margin:  0 auto;/*para centralizar*/
    background-color: darkgoldenrod;
}




/*smartphobne landscape*/

@media (min-width: 576px) {
    body{
     background-color: #008282;
    } 
    /* layout*/
.container{
    max-width: 540px;
    }
}

/*tablete portat*/
@media (min-width: 768px) {
    body{
     background-color: forestgreen;
    } 
    .container{
        max-width: 720px;
        }
    }
    
/*tablet landscape */

@media (min-width: 992px) {
    body{
     background-color: #ff6600;
    } 
    .container{
        max-width: 960px;
        }
    }
    

/*pc e notbokks*/
@media (min-width: 1200px) {
    body{
     background-color: #e70808;
    } 
    .container{
        max-width: 1140px;
        }
    }
    
